@import url("common.css");

#wrap_re {
    width: 1292px;
    margin: 0 auto;
}

.resarea {
    margin-left: -34px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 999;
}

.btn_guide, .box04_tab li img {
    cursor: pointer;
}

.openbox {
    width: 125px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    _position: absolute;
    background: url(/resources/img/leftmenu_bg.png) repeat-y 12px center;
}

.openbox img {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.openbox .mv1 {
    position: relative;
    top: 102px;
    left: 18px;
}

.openbox .mv1 a:hover {
}


.openbox .im_1 {
    position: relative;
    top: 125px;
    left: 28px;
}

.openbox .im_2 {
    position: relative;
    top: 200px;
    left: 28px;
}
.openbox .im_3 {
    position: relative;
    top: 272px;
    left: 28px;
}
.openbox .im_4 {
    position: relative;
    top: 349px;
    left: 28px;
}
.openbox .im_5 {
    position: relative;
    top: 429px;
    left: 28px;
}
.openbox {
    width: 125px;
    margin-top: -1px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    _position: absolute;
    background: url(/resources/img/leftmenu_bg.png) repeat-y 12px center;
}

.resarea {
    /*margin-left: -12px;*/
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 999;
}
