.tb001 { font-size:11px; }
.tb001 th { padding:9px 0 6px 0; background:#fbfbfb url('../images/short/rate_thbg.gif') repeat-x left bottom; border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; font-weight:normal; font-size:11px; font-family:����,dotum; text-align:center; color:#000;}
.tb001 td { padding:9px 0 6px 0; border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; /* 120612 �÷��� ���� */color:#333; font-size:11px; font-family:����,dotum; text-align:center; }
.tb001 .img01 { width:73px; height:53px; border:1px solid #e8e8e8; }
.tb001 .l { padding:9px 0 6px 10px; text-align:left; }
.tb001 .bottom { border:0; padding:0; height:20px; background:url('../images/short/rate_table_bg.gif') repeat-x left bottom; }
.tb001 .bgsblue td { background:#f0f9fb;}
.tb001 .view { padding:15px; }


.tb002 th { padding:6px 0 6px 25px; text-align:left; background:url(../images/tb002_th_bg.gif) repeat-y right top; border-top:1px solid #f3f3f3; border-bottom:1px solid #f3f3f3; border-right:1px solid #e9e9e9; font-weight:normal; color:#000; font-size:11px; font-family:����,dotum; }
.tb002 td { padding:6px 0 6px 15px; border-top:1px solid #f3f3f3; border-bottom:1px solid #f3f3f3; font-size:11px; font-family:����,dotum; /* 120612 �÷��� ���� */color:#333; }
.tb002 .c { text-align:center; }
.tb002 .rline { border-right:1px solid #f3f3f3; }

.tb003 td { padding:7px 0 4px 0; }

.tb004 { width:100%; }
.tb004 td { padding:7px 20px; }

.tb005 td { padding:5px 0 2px 0; }

.tb006 th { padding:1px 0; background:none; border:0;  font-weight:normal; font-size:11px; font-family:����,dotum; text-align:left; /* 120612 �÷��� ���� */color:#333; }
.tb006 td { padding:1px 0; background:none; border:0;  font-weight:normal; font-size:11px; font-family:����,dotum; text-align:left; color:#000; }

.tb007 td { padding:7px 0; background:none; border:0; }

.tb008 { margin:20px 0 0 55px; border-top:1px solid #f3f3f3; border-bottom:1px solid #f3f3f3; }
.tb008 th { text-align:center; padding:15px 0 0 0; vertical-align:top; font-size:11px;}
.tb008 td { padding:10px 0 10px 0; vertical-align:top; font-size:11px; }
.tb008 .int { width:600px; border:1px solid #e0e0e0; padding:2px 5px; height:14px; }

.tb009 { margin:0 0 0 55px; }
.tb009  td { background:#fbfbfb; border-top:1px solid #f3f3f3; border-bottom:1px solid #f3f3f3; padding:10px; font-size:11px; }
.tb009 .id { color:#000; font-size:11px; }
.tb009 .date { font-family:Verdana; color:#acacac; font-size:10px; }

.tb010 th { text-align:left; font-weight:normal; padding-left:12px; background:url(../images/dot01.gif) no-repeat left 5px; }
.tb010  td { padding-left:12px; }
.tb010 .sj { padding-bottom:16px; color:#0095af; }

.tb011 { width:391px !important; }
.tb011 td { padding:0 !important; }

.tb012 { font-size:11px; }
.tb012 th { padding:9px 0 6px 0; background:#fbfbfb url('../images/short/rate_thbg.gif') repeat-x left bottom; border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; font-weight:normal; font-size:11px; font-family:����,dotum; text-align:center; color:#000;}
.tb012 td { padding:9px 0 6px 0; border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; border-right:1px solid #e9e9e9; /* 120612 �÷��� ���� */color:#333; font-size:11px; font-family:����,dotum; text-align:center; }
.tb012 .img01 { width:73px; height:53px; border:1px solid #e8e8e8; }
.tb012 .l { padding:9px 0 6px 10px; text-align:left; }
.tb012 .bottom { border:0; padding:0; height:20px; background:url('../images/short/rate_table_bg.gif') repeat-x left bottom; }
.tb012 .bgsblue td { background:#f0f9fb;}
.tb012 .view { padding:15px; }
/* 120604 */
.tb012 .in{background-color:#fffef4}