<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Concole Log -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="org.springframework.core" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="org.springframework.beans" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="org.springframework.context" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="org.springframework.web" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="sql" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
     
    <logger name="com.wemakeprice" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
